AppDyC/PjBuzonNotificaciones/src/main/resources/BuzonNotificaciones_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://www.sat.gob.mx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.sat.gob.mx/"/>
      <s:element name="NotificacionesBuzon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificacionesBuzonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificacionesBuzonResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneMediosComunicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneMediosComunicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneMediosComunicacionResult" type="tns:ArrayOfMedioComunicacion"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMedioComunicacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MedioComunicacion" nillable="true" type="s1:MedioComunicacion"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/">
      <s:complexType name="MedioComunicacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="medio" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="tipo_medio" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="desc_medio" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="prioridad_correo" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="amparado" type="s:int"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotificacionesBuzonSoapIn">
    <wsdl:part name="parameters" element="tns:NotificacionesBuzon"/>
  </wsdl:message>
  <wsdl:message name="NotificacionesBuzonSoapOut">
    <wsdl:part name="parameters" element="tns:NotificacionesBuzonResponse"/>
  </wsdl:message>
  <wsdl:message name="ObtieneMediosComunicacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneMediosComunicacion"/>
  </wsdl:message>
  <wsdl:message name="ObtieneMediosComunicacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneMediosComunicacionResponse"/>
  </wsdl:message>
  <wsdl:portType name="BuzonNotificacionesSoap">
    <wsdl:operation name="NotificacionesBuzon">
      <wsdl:input message="tns:NotificacionesBuzonSoapIn"/>
      <wsdl:output message="tns:NotificacionesBuzonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ObtieneMediosComunicacion">
      <wsdl:input message="tns:ObtieneMediosComunicacionSoapIn"/>
      <wsdl:output message="tns:ObtieneMediosComunicacionSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BuzonNotificacionesSoap" type="tns:BuzonNotificacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificacionesBuzon">
      <soap:operation soapAction="http://tempuri.org/NotificacionesBuzon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneMediosComunicacion">
      <soap:operation soapAction="http://tempuri.org/ObtieneMediosComunicacion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BuzonNotificacionesSoap12" type="tns:BuzonNotificacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificacionesBuzon">
      <soap12:operation soapAction="http://tempuri.org/NotificacionesBuzon" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneMediosComunicacion">
      <soap12:operation soapAction="http://tempuri.org/ObtieneMediosComunicacion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuzonNotificaciones">
    <wsdl:port name="BuzonNotificacionesSoap" binding="tns:BuzonNotificacionesSoap">
      <soap:address location="http://99.90.29.84/wsBuzonNotificaciones.Proxy/BuzonNotificaciones.asmx"/>
    </wsdl:port>
    <wsdl:port name="BuzonNotificacionesSoap12" binding="tns:BuzonNotificacionesSoap12">
      <soap12:address location="http://99.90.29.84/wsBuzonNotificaciones.Proxy/BuzonNotificaciones.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>